{% extends 'pages/base.html' %}

{% block title %}Método de Bisección{% endblock %}

{% block content %}
<h1>Método de Bisección</h1>
<p>Esta es la página del Método de Bisección.  se ingresa el valor inicial y final del intervalo (xi, xs), la tolerancia del error (Tol) y el màximo nùmero de iteraciones (niter).</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Calcular</button>
</form>

{% if result %}
    <h2>Resultado:</h2>
    <p>{{ result }}</p>
{% endif %}

{% if iterations %}
    <h2>Tabla de Resultados:</h2>
    <table>
        <thead>
            <tr>
                <th>Iteración</th>
                <th>Xi</th>
                <th>Xs</th>
                <th>Xm</th>
                <th>f(Xm)</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {% for row in iterations %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
