{% extends 'base.html' %}

{% block title %}Métodos{% endblock %}

{% block content %}
<h1>Métodos</h1>
<p> IMPORTANTE: Todas las funciones y derivadas se tienen que ingresar como entradas de python:</p>
<li>Para exponentes se ulitiza ** por ejemplo: x**2</li>
<li>Para multiplicar solo se utiliza uno por ejemplo: 2*x</li>
<h2> Metodos del capitulo 1 </h2>
<p>Seleccione un método:</p>
<div class="buttons-container">
    <a class="btn" href="{% url 'biseccion' %}">Método de Bisección</a>
    <a class="btn" href="{% url 'puntofijo' %}">Método de Punto Fijo</a>
    <a class="btn" href="{% url 'reglafalsa' %}">Método de la Regla Falsa</a>
    <a class="btn" href="{% url 'newton' %}">Método de Newton</a>
    <a class="btn" href="{% url 'secante' %}">Método de la Secante</a>
    <a class="btn" href="{% url 'raicesmultiples' %}">Método de Raíces Múltiples</a>
</div>
<h2> Metodos del capitulo 2 </h2>
<p>Seleccione un método:</p>
<div class="buttons-container">
    <a class="btn" href="{% url 'gaussseidel' %}">Método de Gauss-Seidel</a>
    <a class="btn" href="{% url 'jacobi' %}">Método de Jacobi</a>
    <a class="btn" href="{% url 'sor' %}">Método de SOR</a>
    <a class="btn" href="{% url 'sor_matricial' %}">Método de SOR Matricial</a>
</div>
<h2> Metodos del capitulo 3 </h2>
<p>IMPORTANTE: EN ESTOS MÉTODOS UN MISMO VALOR DE X NO PUEDE TENER VARIOS VALORES DE Y.<p>
<p>Seleccione un método:</p>
<div class="buttons-container">
    <a class="btn" href="{% url 'vandermonde' %}">Método de vandermonde</a>
    <a class="btn" href="{% url 'newton_interpolante' %}">Método de Newton Interpolante</a>
    <a class="btn" href="{% url 'lagrange' %}">Método de Lagrange</a>
</div>
{% endblock %}
