{% extends 'base.html' %}

{% block title %}Métodos{% endblock %}

{% block content %}
<h1>Métodos</h1>
<h2> Metodos del capitulo 1 </h2>
<p>Seleccione un método:</p>
<div class="buttons-container">
    <a class="btn" href="{% url 'biseccion' %}">Método de Bisección</a>
    <a class="btn" href="{% url 'puntofijo' %}">Método de Punto Fijo</a>
    <a class="btn" href="{% url 'reglafalsa' %}">Método de la Regla Falsa</a>
    <a class="btn" href="{% url 'newton' %}">Método de Newton</a>
    <a class="btn" href="{% url 'secante' %}">Método de la Secante</a>
    <a class="btn" href="{% url 'raicesmultiples' %}">Método de Raíces Múltiples</a>
</div>
<h2> Metodos del capitulo 2 </h2>
<p>Seleccione un método:</p>
<div class="buttons-container">
    <a class="btn" href="{% url 'gaussseidel' %}">Método de Gauss-Seidel</a>
    <a class="btn" href="{% url 'jacobi' %}">Método de Jacobi</a>
    <a class="btn" href="{% url 'sor' %}">Método de SOR</a>
    <a class="btn" href="{% url 'sor_matricial' %}">Método de SOR Matricial</a>
</div>
<h2> Metodos del capitulo 3 </h2>
<p>Seleccione un método:</p>
<div class="buttons-container">
    <a class="btn" href="{% url 'gaussseidel' %}">Método de vandermonde</a>
</div>
{% endblock %}
