{% extends 'base.html' %}

{% block title %}Método de Newton Interpolante{% endblock %}

{% block content %}
<h1>Método de Newton Interpolante</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" onclick="generateInputs()">Generar Matriz y Vector</button>
    <div id="vectorInputs"></div>
    <button type="submit" class="btn">Calcular</button>
</form>

{% if funcion %}
    <h2>Función Interpolante:</h2>
    <p>{{ funcion }}</p>
{% endif %}

{% if expr %}
    <h2>Expresión:</h2>
    <p>{{ expr }}</p>
{% endif %}

<script>
function generateInputs() {
    const n = document.getElementById('id_n').value;

    let vectorInputs = '<h3>Vector xs</h3>';
    for (let i = 0; i < n; i++) {
        vectorInputs += `<input type="text" name="xs_${i}" placeholder="xs[${i}]" required>`;
    }

    vectorInputs += '<h3>Vector y</h3>';
    for (let i = 0; i < n; i++) {
        vectorInputs += `<input type="text" name="y_${i}" placeholder="y[${i}]" required>`;
    }

    document.getElementById('vectorInputs').innerHTML = vectorInputs;
}
</script>
{% endblock %}
