{% extends 'base.html' %}
{% block title %}Método de Newton{% endblock %}

{% block content %}
<h1>Método de Newton</h1>
<p>El Método de Newton, también conocido como método de Newton-Raphson, es una técnica para encontrar raíces de una función. El Método de Newton siempre encontrará la raíz si el punto inicial x0 está suficientemente cerca de la raíz verdadera xv y si se cumplen las siguientes condiciones:</p>
<ul>
    <li>f debe ser derivable dos veces.</li>
    <li>La primera derivada debe ser diferente de 0</li>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Calcular</button>
</form>

{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}

{% if iterations %}
    <h2>Tabla de Resultados:</h2>
    <table>
        <thead>
            <tr>
                <th>Iteración</th>
                <th>X0</th>
                <th>F(X0)</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {% for row in iterations %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
