{% extends 'base.html' %}

{% block title %}Método de Punto Fijo{% endblock %}

{% block content %}
<h1>Método de Punto Fijo</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Calcular</button>
</form>

{% if result %}
    <h2>Resultado:</h2>
    <p>{{ result }}</p>
{% endif %}

{% if iterations %}
    <h2>Tabla de Resultados:</h2>
    <table>
        <thead>
            <tr>
                <th>Iteración</th>
                <th>Xant</th>
                <th>Xact</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {% for row in iterations %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
