{% extends 'base.html' %}
{% load static %}

{% block title %}Método de Raíces Múltiples{% endblock %}

{% block content %}
<h1>Método de Raíces Múltiples</h1>
<p>Los métodos anteriores tienen problemas cuando la función tiene varias soluciones, lo que se denomina por raíces múltiples. Para resolver este tipo de funciones de multiplicidad m se usa una de las siguientes relaciónes iterativas:</p>
<img src="{% static 'images/raices_multiples.png' %}" alt="Raíces Múltiples">
<img src="{% static 'images/raices_multiples1.png' %}" alt="Raíces Múltiples 1">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Calcular</button>
</form>

{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}

{% if result %}
    <h2>Resultado:</h2>
    <p>Raíz aproximada: {{ result }}</p>
{% endif %}

{% if table %}
    <h2>Tabla de Resultados:</h2>
    <table>
        <thead>
            <tr>
                <th>Iteración</th>
                <th>X0</th>
                <th>X1</th>
                <th>f(X1)</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if image %}
    <h2>Gráfica:</h2>
    <img src="{{ image }}" alt="Gráfica de la función">
{% endif %}


{% endblock %}
