{% extends 'base.html' %}

{% block title %}Método de la Secante{% endblock %}

{% block content %}
<h1>Método de la Secante</h1>
<p>El método de la secante es una técnica iterativa para encontrar las raíces de una función f(x) =0. A diferencia del método de Newton, no requiere la derivada de la función, lo que lo hace útil cuando f'(x) no es fácilmente calculable. Por lo que usa una aproximación de la derivada</p>
<li>Se necesitan dos puntos iniciales x0 y x1 cercanos a la raíz real</li>
<li>La función debe ser continua en el intervalo que contiene a x0 y x1.</li>
<li>Idealmente, la función debe ser una función suave (diferenciable) en este intervalo</li>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Calcular</button>
</form>

{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}

{% if result %}
    <h2>Resultado:</h2>
    <p>Raíz aproximada: {{ result }}</p>
{% endif %}

{% if table %}
    <h2>Tabla de Resultados:</h2>
    <table>
        <thead>
            <tr>
                <th>Iteración</th>
                <th>X0</th>
                <th>X1</th>
                <th>X2</th>
                <th>f(X1)</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if image %}
    <h2>Gráfica:</h2>
    <img src="{{ image }}" alt="Gráfica de la función y el proceso del Método de la Secante">
{% endif %}

{% endblock %}

